:root {

}
body {
  margin: 0;
  padding: 0;
  color:#000;
  background-color: #f1f3f6 !important;
}
.unqRating .MuiChip-deleteIcon {
  color: rgb(255 255 255) !important;
  font-size: 18px !important;
}
.MuiStepLabel-iconContainer svg {
  color: #fc2779 !important;
}
.MuiTabs-indicator{
  background-color: #fc2779 !important;
}